.clef:before {
    display: block;
    position:absolute;
    z-index:1;
    font-size:14rem;
    line-height:14rem;
    left:3.3rem;
}
.clef.treble:before {
    content: "\00e050";
    top:11.342rem;
}
.clef.bass:before {
    content: "\00e062";
    top:7.9rem;
}