note {
    display: block;
    position: absolute;
    top: -0.38rem;
    left: 26rem;
    z-index: 1;
    font-size: 12rem;
    line-height: 3rem;
}
note.down {
    top: -4.5rem;
    left: 24rem;
}
note::after,
note.crotchet::after,
note.quaver::after {
    content: "\00E0A4";
}
note.minim::after {
    content: "\00E0A3";
}
note.sharp::before,
note.crotchet.sharp::before,
note.quaver.sharp::before,
note.minim.sharp::before {
    content: "\00E262";
    margin: 0 1rem 0 -3.9rem;
}

note.stem::before,
note.stem.up::before,
note.stem.crotchet::before,
note.stem.crotchet.up::before {
    content: "\00E1D5";
}
note.stem.down::before,
note.stem.crotchet.down::before {
    content: "\00E1D6";
}
note.stem.quaver::before,
note.stem.quaver.up::before {
    content: "\00E1D7";
}
note.stem.quaver.down::before {
    content: "\00E1D8";
}
note.stem.minim::before,
note.stem.minim.up::before {
    content: "\00E1D3";
}
note.stem.minim.down::before {
    content: "\00E1D4";
}
