system {
    display:block;
    position:relative;
    width:50rem;
    margin:0 auto;
    font-family: Leland;
}
staff {
    display: block;
    position:relative;
}
clef:before {
    display: block;
    position:absolute;
    z-index:1;
    font-size:14rem;
    line-height:14rem;
    left:3.3rem;
}
clef.treble:before {
    content: "\00e050";
    top:11.342rem;
}
clef.bass:before {
    content: "\00e062";
    top:7.9rem;
}
line, space {
    display:flex;
    align-content:center;
    position:relative;
    width:100%;
    height:1.723rem;
    margin:0;
    padding:0;
}
line::after {
    content:'';
    display:block;
    width:100%;
    height:0.40rem;
    margin-top:0.9rem;
    background-color:black;
}
line.ledger::after {
    margin-left:31rem;
    width:6rem;
    background-color:white;
}
line.ledger.show::after {
    background-color:black;
}
keysign.sharp::before {
    display: block;
    position:absolute;
    content: "\00E262";
    z-index:1;
    font-size:14rem;
    line-height:14rem;
}
keysign.sharp.notef::before {
    left:15rem;
}
keysign.sharp.notec::before {
    left:18.5rem;
}
keysign.sharp.noteg::before {
    left:22rem;
}
staff.top keysign.sharp.notef::before {
    top:1rem;
}
staff.top keysign.sharp.notec::before {
    top:6.2rem;
}
staff.top keysign.sharp.noteg::before {
    top:-0.8rem;
}
staff.bottom keysign.sharp.notef::before {
    top:8rem;
}
staff.bottom keysign.sharp.notec::before {
    top:13.2rem;
}
staff.bottom keysign.sharp.noteg::before {
    top:6.2rem;
}