system {
    display:block;
    width:50rem;
    margin:50 auto 0 auto;
    font-family: Leland;
}
staff {
    display: block;
    position:relative;
}
clef.treble:before {
    display: block;
    position:absolute;
    content: "\00e050";
    top:11.342rem;
    left:3.3rem;
    z-index:1;
    font-size:14rem;
    line-height:14rem;
}
clef.bass:before {
    display: block;
    position:absolute;
    content: "\00e062";
    top:7.9rem;
    left:3.3rem;
    z-index:1;
    font-size:14rem;
    line-height:14rem;
}
line, space {
    display:flex;
    align-content:center;
    position:relative;
    width:100%;
    height:1.723rem;
    margin:0;
    padding:0;
}
line::before {
    content:'';
    display:block;
    width:100%;
    height:0.40rem;
    margin-top:0.9rem;
    background-color:black;
}
line.ledger::before {
    margin-left:25rem;
    width:6rem;
    background-color:white;
}
line.ledger.show::before {
    background-color:black;
}